@using MusicStore.ViewModels
@model MusicStore.ViewModels.AlbumRelyViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/View.cshtml";
}

<style>
    .editor {
        width: 100%;
        overflow-y: scroll;
    }
</style>

<link rel="stylesheet" href="~/Content/rotate.css" />
<div class="row" style="min-height:280px ">
    <div class="col-lg-3 col-sm-3 col-xs-3">
        <h3>专辑名称：@Model.album.Title</h3>
        <p>作者：@Model.album.Artist.Name</p>
        <p>分类: @Html.ActionLink(Model.album.Genre.Name, "Genre", "Home", new { id = @Model.album.Genre.ID }, null) </p>

        <p>价格：￥@Model.album.Price</p>
        <p>出版时间：@Model.album.PublisherDate.ToString("yyyy年MM月dd日")</p>
        <a class="btn btn-primary btn-sm" id="add">添加到购物车</a>

    </div>
    <div class="col-lg-9 col-sm-9 col-xs-9">
        <div style="position:relative;min-height: 320px">
            <span class="glyphicon glyphicon-cd" aria-hidden="true" style="font-size:250px;margin-left:100px" id="cd">
            </span>
            <audio src="/Upload/Normal/normal.mp3" controls="controls" id="music" style="position: absolute;bottom: 10px;left: 100px;"></audio>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-2 col-sm-1 col-md-1 bg">
        <img src="@ViewBag.loginUserName" alt="图片" class="img-thumbnail" style="min-height: 80px;min-width: 80px">
    </div>
    <div class="col-xs-10 col-sm-11 col-md-11">
        <script id="container" name="content" type="text/plain" class="editor" style="width: 100%; overflow-Y:scroll;">

        </script>
        <button class="btn btn-primary" style="float:right;margin:15px;" id="rely">评论</button>

    </div>
</div>

<div class="row" id="relyrow">
    @foreach (var i in Model.replys)
    {
        <div class="row">
            <div style="box-sizing: border-box;padding:50px">
                <div class="col-xs-2 col-sm-1 col-md-1 bg">
                    <img src="@i.Person.Avarda" alt="图片" class="img-thumbnail" style="max-height: 45px;max-width: 45px">
                </div>
                <div class="col-xs-10 col-sm-11 col-md-11">
                    <div style="min-width: 400px;" id="@i.ID">
                        @i.Person.Name：@i.Content
                    </div>
                    <div style="min-width: 400px;">
                        <span style="color:#aaa">@i.CreateDateTime</span>
                        <i class="glyphicon glyphicon-thumbs-down" style="float:right;margin-top:0px;margin-left:20px" onclick="Like('@i.ID')">(@i.Hate)</i>
                        <i class="glyphicon glyphicon-thumbs-up" style="float:right;margin-top:0px;margin-left:20px" onclick="Like('@i.ID')">(@i.Like)</i>
                        <a href="#" style='float:right' onclick="javascript:ShowCmt('@i.ID')" >查看所有回复</a><a href='#' style='float:right;margin-right: 10px' onclick="parentReply('@i.ID')">回复</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="Div-SonCmts">
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<script src="~/ueditor/ueditor.config.js"></script>
<script src="~/ueditor/ueditor.all.min.js"></script>
<script>

    var ue = UE.getEditor('container');
    function getContentTxt() {
        var arr = [];
        arr.push(UE.getEditor('container').getContentTxt());
        return arr;
    }

    var pid = null;
    var pcontent;
    function parentReply(id) {
        pcontent = document.getElementById(id).innerHTML;
        pid = id;
        ue.focus();
        ue.execCommand('inserthtml', "回复：" + pcontent.replace(/\s+/g, "") + "    ");
    }

    $('#rely').click(function () {
        $.ajax({
            type: 'post',
            async: true,
            url: '../../Rely/AddRely',
            data: { id: "@Model.album.ID", relydata: getContentTxt(), replyid: pid },
            dataType: 'json',
            success: function (data) {
                    $('#relyrow').html(data);
                    ue.setContent('');
            }
        })
    })

    function ShowCmt(id) {
        $.ajax({
            type: 'post',
            asyn: true,
            url: '@Url.Action("showCmts","Rely")',
            data: { "pid": id },
            dataType: 'json',
            success: function (data) {
                $("#Div-SonCmts").html(data);
                $('#myModal').modal('toggle');
            }
        });
    }
    function Like(id) {
        $.ajax({
            type: 'post',
            asyn: true,
            url: '../../Rely/Like',
            data: { "id": id },
            dataType: 'json',
            success: function(data) {

            }
        });
    }
    function Hate(id) {
        $.ajax({
            type: 'post',
            asyn: true,
            url: '../../Rely/Hate',
            data: { "id": id },
            dataType: 'json',
            success: function(data) {

            }
        });
    }



    var cd = document.getElementById('cd');
    var music = document.getElementById('music');
    var isrotate = false;
    cd.onclick = function () {
        if (!isrotate) {
            cd.className = "glyphicon glyphicon-cd rotate";
            isrotate = !isrotate;
            music.play();
        } else {
            cd.className = "glyphicon glyphicon-cd ";
            isrotate = !isrotate;
            music.pause();
        }
    }
</script>
